{% extends "base.html" %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="admin-container">
 <h1>Admin Dashboard</h1>
 <a href="{{url_for('admin_add')}}">add product</a>
 <a href="{{url_for('admin_logout')}}">logout</a>
 <a href="{{url_for('admin_users')}}">Users</a>

 <div>

    <div>
        <h3>Total Revenue</h3>
        <p>Kes {{ '%.2f' | format(total_revenue) }}</p>
    </div>

    <div>
        <h3>Total Products</h3>
        <p>{{ total_products }}</p>
    </div>

    

</div>

 <table class="table table-light table-striped mt-3">
    <tr>
        <th>Product Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Sold</th>
        <th>Revenue</th>
        <th>Actions</th>
    </tr>

    {% for product in products %}
    <tr>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>
            {%if product.stock < 5%}
            <span style="color: red;font-weight: bold;">{{ product.stock }} (LOW)</span>
            {% else %}
            {{ product.stock }}
            {% endif %}
        </td>
    <td>{{product.sold}}</td>
    <td>{{ '%.2f' | format(product.sold * product.price) }}</td>
            
          <td>
              <a href="{{ url_for('admin_edit', product_id=product.id) }}">Edit</a>


           <form action="{{url_for('admin_delete', product_id=product.id)}}" method="POST">

                <button type="submit">Delete</button>
            </form>
        </td>
    
    </tr>
    {% endfor %}
 </table>
</div>
<hr>

{% endblock %}