{% extends 'base.html' %}
{% block title %}Checkout{% endblock %}

{% block content %}
<div class="container my-5">
   <h1>YOUR CART</h1>

   {% if cart %}
   <table class="table table-striped align-middle">
    <thead>
        <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th>  </th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        <tr>
            <td>
                <a href="{{ url_for('product_detail', product_id =item.id)}}">
                <img src="{{ url_for('static', filename='img/' + item.image) }}" alt="{{ item.name }}" style="max-height: 60px;"
                class="product-thumb">
                </a>
            </td>
            <td>
                <a href="{{ url_for('product_detail', product_id =item.id)}}"class="product-link"> {{ item.name }}</a>
            </td>
            <td>{{ item.description }}</td>
            <td>
                <div class="qty-controls">
<!-- minus -->
                    <a class="qty-btn" href="{{url_for('decrease_cart', product_id= item.id)}}" class="btn btn-sm">-</a>
                    <span>{{ item.quantity }}</span>
<!-- plus -->
                  {% if item.quantity >= item.get('stock', 0) %}
                <span>Max</span>
                    {%else%}
<a class="qty-btn" href="{{url_for('increase_cart', product_id= item.id)}}" class="btn btn-sm">+</a>
                    {% endif %}


                </div>
            </td>
            <td>{{ item.price }}</td>
            <td>Kes {{ '%.2f' | format(item.price|float * item.quantity|int) }}</td>
            <td>
                <!-- remove -->
                    <a href="{{url_for('remove_from_cart', product_id= item.id)}}" class="btn btn-sm btn-outline-danger ms-3">Remove</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
   </table> 
   
    {% else %}
    <p>Your cart is empty. 
        
        <a href="{{ url_for('shop_page') }}">Continue shopping</a></p>
    {% endif %}
</div>

<hr>
<h3>Total: kes {{ total }}</h3>


<div class="checkout-form mt-5">
    <h3>Customer Info</h3>
    <form action="{{url_for('confirm_order')}}" method="post">
        <input type="text" name="name" placeholder="Full Name" class="form-control mb-3" required>
        <input type="email" name="email" placeholder="Email Address" class="form-control mb-3" required>
        <input type="text" name="address" placeholder="Shipping Address" class="form-control mb-3" required>
        <input type="text" name="phone" placeholder="Phone Number" class="form-control mb-3" required>

        <button type="submit" class="btn-retro">Place order</button>
    </form>
</div>
{% endblock %}