{% extends "base.html" %}

{% block title %}Order Confirmed{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Order Confirmed</h1>

  

    <p>Your order has been received and will be processed shortly.</p>

    <h3>Order Details</h3>

    <table class="table table-light table-striped mt-3">
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Subtotal</th>
        </tr>
        {% for item in cart %}
        <tr>
            <td>{{ item.name }}</td>
            <td>Kes {{ "%.2f"|format(item.price) }}</td>
            <td>{{ item.quantity }}</td>
            <td>Kes {{ "%.2f"|format(item.price * item.quantity) }}</td>
        </tr>
        {% endfor %}
    </table>

    
    <p>Address: {{ address }}</p>
    <p>Thank you, <strong>{{ name }}</strong>!</p>

    <p>Payment will be processed via M-Pesa to: <strong>{{ phone }}</strong></p>

    <a href="{{ url_for('shop_page') }}">Back to Shop</a>
</div>
{% endblock %}