{% extends "base.html" %}

{% block title %}sorry employees only{% endblock %}

{% block content %}




<div class="container text-center my-5">
    <h1 class="glitch">Employees only</h1>
    <p class="lead mb-4" style="font-family: monospace; color:#ccc;">
        Lost in the archives... this page doesn’t exist.
    </p>
    
    <a href="{{ url_for('admin_login') }}" 
       class="btn-retro mt-3" 
       style="padding:0.8rem 2rem; border-radius:12px;">
        try again?
    </a>

    <div class="mt-5" style="color:#777; font-size:0.9rem;">
    
        <p><em>employees only</em></p>
    </div>
</div>
{% endblock %}
